* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  color: #8B4513;
}

#site_wrap{
  height: 100vh;
  display:grid;
  grid-template-columns: 
    1fr 
    repeat(3, minmax(0,300px))
    1fr
    ;

    grid-gap:0px;
    grid-template-rows:
    min-content
    min-content
    min-content
    min-content + 10px
    
    
    1fr
    ;

  grid-template-areas:
    "header header header header header"
    ". result result result ."
    ". circleContainer circleContainer circleContainer ."
    ". eggCounter eggCounter eggCounter ."
    ". taskform taskform taskform ."
    ". tasklist tasklist tasklist ."
    ". eggMenu eggMenu eggMenu ."

    ". grid grid grid ."
    ". info4 exhibit4 exhibit4 ."
    ". content content content ."
    ". content2 content2 content2 ."
    "footer footer footer footer footer"
}

body {
  background-color: #F2E9E4;
}

.header {
  grid-area: header;
}

.slidecontainer {
  width: 38%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.centered-text {
  text-align: center;
  color: #8B4513;
  background-color: #FFFCF8;
  padding: 1em;
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-weight: 600;
}

.result {
  grid-area: result;
  font-family: "Inter", sans-serif;
  color: #8B4513;
  font-size: 64px;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 30px;
}

.circleContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-area: circleContainer;
}

.circle {
  width: 40px;
  height: 60px;
  background-color: #8B4513;
  border-radius: 50% / 60% 60% 40% 40%;
  margin: 5px;
}

h2 {
  margin-bottom: 0.5em;
  text-align: left;
  font-size: 42px;
}

.taskform{
  grid-area:taskform;
  justify-content: space-between;
  border-radius: 10px;
  
}

.form-row-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.form-row-button button,
.form-row-button input[type="submit"] {
  width: 150px;
  height: 40px;
  background-color: #FFFFFF;
  color: #8B4513;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.form-row-button button:hover,
.form-row-button input[type="submit"]:hover {
  background-color: #e0e0e0;
}

.form-row-button button:active,
.form-row-button input[type="submit"]:active {
  background-color: #d2d2d2;
  color: white;
}

form {
  margin: 1em auto;
  //border: 2px solid grey;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 2em;
  width: 100%; 
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em;

}

.form-row > label {
  width: calc(50% + 100px);
}

.form-row > input,

.form-row > select {
  padding: .5em;
  flex-grow: 1;
}


.tasklist{
  grid-area: tasklist;
  justify-content: space-between;
}

.eggMenu{
  grid-area: eggMenu;
  justify-content: space-between;
}

.tasklist .grid-container1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-auto-rows: 330px;
  gap: 10px;
}

.eggMenu .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 280px;
  gap: 30px;
}


#tasklist li {
  display: flex;
  justify-content: space-between;

  width: 40%; 
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#tasklist li p {
  margin-left: 20px;
  max-width: 200px;
  padding: 10px;
}

#tasklist li span {
  margin-right: 10px;
  max-width: 200px;
}

#tasklist li button {
  width: 20%;
  height: 100px;
  background-color: #FFFFFF;
  color: #8B4513;
  position: relative;
  top: 10%;
  transform: translateY(20%);
  font-size: 24px;
  border-radius: 100px;
  border: none;
  padding: 5px 10px;
  margin: 5px 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;

  &:hover {
    background-color: #e0e0e0; 
  }
  
  &:active {
    background-color: #d2d2d2; 
    color: white;
  }
}

h3 {
  text-align: left;
  font-size: 42px;
}

.box {
  position: relative;
  background-color: #F2E9E4;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.box img {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.boxButton {
  position: absolute;
  width: 80%;
  background-color: #FFFFFF;
  color: #8B4513;
  bottom: 10px;
  font-size: 24px;
  border-radius: 100px;
  border: none;
  padding: 5px 10px;
  margin: 5px 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.boxButton:hover {
  background-color: #e0e0e0; 
}

.boxButton:active {
  background-color: #d2d2d2; 
}

.popupContainer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popupContent {
  background-color: #F2E9E4;
  max-width: 60%;
  margin: 100vh auto 0;
  margin-top: 33vh;
  padding: 50px;
  border-radius: 5px;
  text-align: left;
}

.popupContent > h4 {
  color: #8B4513; 
  font-size: 24px;
}

.closePopup  {
  background-color: #FFFFFF; 
  color: #8B4513; 
  border-radius: 100px;
  padding: 0.5em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: none;
  font-size: 24px;
}

.closePopup:hover {
  background-color: #e0e0e0;
}

.closePopup:active {
  background-color: #d2d2d2;
}