* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#site_wrap{
  height: 100vh;
  display:grid;
  grid-template-columns: 
    1fr 
    repeat(3, minmax(0,448px))
    1fr
    ;

    grid-gap:0px;
    grid-template-rows:
    min-content
    200px
    min-content
    min-content
    min-content
    min-content
    
    1fr
    ;

  grid-template-areas:
    ". header header header ."
    ". eggCounter eggCounter eggCounter ."
    
    ". taskform taskform taskform ."
    ". tasklist tasklist tasklist ."
    ". eggMenu eggMenu eggMenu ."

    ". grid grid grid ."
    ". info4 exhibit4 exhibit4 ."
    ". content content content ."
    ". content2 content2 content2 ."
    "footer footer footer footer footer"
}

body {
  background-color: #F2E9E4;
}

.header{
  grid-area:header;
  align-items:center;
  justify-content: space-between;
  
  text-align: center;
  color: #8B4513;
  background-color: #FFFCF8;
  padding: 50px;
  font-family: "Inter", sans-serif;
  font-size: 42px;
}

.eggCounter{
  grid-area:eggCounter;
  align-items:center;
  justify-content: space-between;
  
  text-align: center;
  color: #8B4513;
  background-color: #b946a2;
  padding: 50px;
  font-family: "Inter", sans-serif;
  font-size: 42px;
}

.taskform{
  grid-area:taskform;
  //display:left;
  //align-items:left;
  justify-content: space-between;
}

.tasklist{
  grid-area:tasklist;
  //display:left;
  //align-items:left;
  justify-content: space-between;
}

.eggMenu{
  grid-area:eggMenu;
  
  justify-content: space-between;
}

.eggMenu .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-auto-rows: 280px;
  gap: 10px;
}



.box {
  position: relative;
  background-color: #F2E9E4;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.box img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.boxButton {
  width: 80%;
}

.box-button {
  position: absolute;
  width: 80%;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 16px;
  background-color: #FFFFFF;
  color: #8B4513;
  border: none;
  border-radius: 100px;
}


.box-image {
  width: 60%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  
}

//.box-image img {
  //width: 100%;
  //height: auto;
  //object-fit: cover;
//}






.popupContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popupContent {
  background-color: #fff;
  max-width: 1000;
  margin: 20px auto;
  margin-top: calc(50vh - 150px);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

header > h1 {
  text-align: center;
  color: #8B4513;
  background-color: #FFFCF8;
  padding: 50px;
  font-family: "Inter", sans-serif;
  font-size: 42px;
}

h2 {
  margin-bottom: 1em;
  text-align: center;
}





form {
  margin: 1em auto;
  //border: 2px solid grey;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  
  padding: 2em;
  
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
}

.form-row > label {
  width: 300px;
}

.form-row > input,

.form-row > select {
  padding: .5em;
  flex-grow: 1;
}

aside {
  
  grid-area: tasklist;
  padding: 1em;
  overflow-y: scroll;
  
}


#tasklist {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-block-start: 0;
  padding: 0;
}

#tasklist li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid gray;
  padding: 1em;
  margin-bottom: 1em;
}

#tasklist li p {
  flex-grow: 1;
  margin-left: 10px;
  max-width: 200px;
}
#tasklist li span {
  text-align: right;
  flex-grow: 1;
  margin-right: 10px;
  max-width: 200px;
}

#tasklist li input[type="checkbox"] {
  margin-top: 10px;
  width: 20px;
  height: 20px;
}

#tasklist li button {
  font-size: 20px;
  padding: 4px;
}

article {
  background-color: #efefef;
  height: 100vh;
  padding: 3em 0;
  overflow-y: scroll;
}

#generateInvoice {
  display: block;
  margin: 2em auto;
  width: 200px;
  padding: 1em;
}


.invoice-box {
  max-width: 800px;
  margin: 3em auto;
  padding: 30px;
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 24px;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  color: #555;
}

.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

.invoice-box table td {
  padding: 5px;
  vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
  text-align: right;
}

.invoice-box table tr.top table td {
  padding-bottom: 20px;
}


.invoice-box table tr.heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.invoice-box table tr.item td {
  border-bottom: 1px solid #eee;
}

#client {
  margin-bottom: 40px;
}

#total {
  padding: 5px;
  margin-top: 1em;
  width: 100%;
  text-align: right;
  font-weight: bold;
}
